* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: rgb(57, 55, 55);
  color: white;
padding: 10px 10px;
margin-bottom: 10px;
border-radius: 5px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 150px;
  height: 40px;
  background-color: rgb(57, 55, 55);
  color: white;
  border-radius: 5px;

}

.timer {
  display: flex;
  gap: 30px;
}

.field {
  width: 100%;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  border: 2px solid rgb(57, 55, 55);
  border-radius: 5px;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
}



